*{
    margin: 0;
    padding: 0;
}

body{
background-color: #353535;
color: white;
}

.intro{
    font-family: 'open sans', sans-serif;
    font-size: 50pt;
    padding-left: 5px;
}




/*
.oval{
    
    background-color: white;
    margin: auto;
    width: 500px;
    border-radius:200px / 200px;
}
*/




@media(max-width: 780px){
    .flex_skills{
        display: flex;
        justify-content: center;
        padding:   30px;
        padding-bottom: 100px;
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

}
.flex_skills{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.skills div{
    padding: 0 15px;
    text-align: center;
}

.skills span{
    color: crimson;
}

.bio{
    padding: 10px 0;
    width:auto;
    height: auto;
    display: flex;
    background-color: #3c6e71 ;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 30px;
    border-radius: 1em;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px 10px;
    
}

.bio h4{
text-align: center;
width: 100%;
}


 .title {
 text-align: left;
 padding: 15px 0 5px 10px;
}



.profile_pic{
padding-bottom: 30px ;
}

.profile_pic  img{

border-radius: 50%;
width: 250px;
height: auto;
}



@media (min-width: 780px){
    .navbar{
        width: 100%;
        height: 38px;
    
        display: flex;
        justify-content:flex-end;
        align-items:flex-end;
        padding: 5px 0px 50px 0px;
        padding-bottom: 200px;

        
        
    }
}

@media (max-width: 780px){
    .navbar{
        width: 100%;
        height: 38px;
    
        display: flex;
        justify-content:flex-end;
        align-items:flex-end;
        padding: 5px 0px 50px 0px;
        padding-bottom: 100px;

        
        
    }
}

.navbar a{
    font-family: 'quicksand', serif;   
    padding: 3px 6px;
    border-radius: 1.05em;
    text-decoration: none;
    color:white;
    font-size: 12pt;
    transition: all ease-in 0.15s;
}

.navbar a:hover{
font-size: 1.05em;
color: lightblue;    
}



.navbar li{
    display:inline;
    padding: 7px ;
}

.navbar__items{
    margin: 10px;
    list-style-type: none;
    display: inline;
    
}





.dropdown{
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    padding-top: 60px;
    font-family:'Roboto', sans-serif; 
    font-weight: 600;
    
}

.dropdown select{
    font-family: sans-serif ;
    font-weight: 600;
}

#dropdownMenuButton{
    background-color: white;
    color: black;
    font-weight: 700;
}


.work_exp_heading{
    border-bottom: 1px solid black;
    text-align: center;
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 22pt;
   padding-top: 60px ;
    letter-spacing: 0.15em;

}

@media (max-width: 768px){
    .workExp{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        text-decoration: none;
        font-family:'Open Sans Condensed', sans-serif;
        font-weight: 550;
        font-size: 13pt;
        }

      

}


#work_exp_disappear{
    transition: all .6s;
    
}

.workExp{

display: flex;
justify-content: space-evenly;
width: 100%;
text-decoration: none;
font-family:'Open Sans Condensed', sans-serif;
font-weight: 550;
font-size: 13pt;
}

.workExp h3{

}

.job_1{

margin: 25px;

}




.videos{

    

}

iframe{
    width: 300px;
    height: auto;

}




/*
below this is for unprofessional.html
*/

.back__home{
    width: 100%;
    height: 38px;
    background-color:#fff1e6;
    justify-content:flex-start;
    align-items:flex-start;
    padding: 20px 10px;
    
}

.back__home  a{
   
    font-family: 'font-family: 'Roboto', sans-serif;';
    box-shadow: 1px 1px 2px 1px gray ;
    
    padding: 3px 6px;
    border: 2px solid white;
    border-radius: 1.05em;
    text-decoration: none;
    color:black;
    background-color: white;
    transition: all ease-in 0.15s;
}

.back__home a:hover{
    box-shadow: 1px 1px 2px 1px #e63946 ;
    background-color: rgb(255, 255, 230);
    color: black;
}

.flex__container__heading__unprofessional{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}

.unprofessional__heading{
    
    width: 300px;
    background-color: white;
    border: 2px solid white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
.unprofessional__heading h3{
    border: 2px solid black;
    color: black;
    
}

.flex__hobby__container{
    padding:150px;
    display: flex;
    justify-content: space-between;
}

.flex__hobby h3{
    text-align: center;
}

.hobby__pics{
    width: 100px ;
    height: 100px;
    border-radius: 4em;
}
